<div class="ui card">
    <div class="content">
        <div class="header">{{dayWeek}}</div>
        <div class="meta">
            <a>{{dateForShow}}</a>
        </div>        
        <div class="image">
            <img src={{weatherImage}} height="90">
        </div>
        <div class="temperature">
            {{model.temperature}}°
        </div>
        <div class="description">
            {{if hasPrecipitation model.cloudy model.weatherEvent}}
        </div>
    </div>
    <div class="extra content">
        <div><i class="thermometer icon"></i>{{model.preasure}} мм рт.ст.</div>
        <div><i class="compass icon"></i>{{model.windVelocity}} м/с, {{model.windDirection}}</div>
    </div>
</div>
